body {
  font-family: Arial, sans-serif;
  padding: 30px;
  background-color: #0b1d3a;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
}

h2 {
  margin-bottom: 10px;
}

#chatbox {
  width: 90%;
  max-width: 600px;
  margin: 0 auto;
  background: white;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  padding: 1%;
  display: flex;
  flex-direction: column;
  height: 500px;
}

.msg {
  margin: 5px 0;
}

.user {
  color: blue;
}

.bot {
  color: green;
}

input[type="text"] {
  width: 70%;
  padding: 8px;
  font-size: 16px;
}

button {
  padding: 8px 12px;
  font-size: 16px;
  margin-left: 5px;
  cursor: pointer;
}
.input-area {
  display: flex;
  border-top: 1px solid #ccc;
  background-color: #fff;
  position: absolute;
  bottom: 8px;
  left: 0;
  right: 0;
  padding: 0 10px;
  height: 48px;
  box-sizing: border-box;
  align-items: center;
}

.input-area input {
  flex: 1;
  height: 100%;
  padding: 0 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px 0 0 5px;
}

.input-area button {
  height: 100%;
  padding: 0 16px;
  font-size: 16px;
  border: none;
  background-color: #0b5ed7;
  color: white;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

.input-area button:hover {
  background-color: #094db3;
}

#messages {
  flex: 1;
  overflow-y: auto;
  margin-bottom: 10px;
}
.quick-replies {
  margin: 10px;
  display: flex;
  gap: 10px;
  justify-content: center;
}

.quick-replies button {
  background-color: #0a58ca;
  color: white;
  border: none;
  padding: 10px 14px;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.quick-replies button:hover {
  background-color: #084298;
}
